<h2>Kvarovi</h2>
{{#each model as |malfunction|}}
  <p>{{link-to malfunction.title 'residential_community.malfunction' malfunction.id}}</p>
  ------------------------------------------------------------------
{{else}}
  <p>Nothing here present</p>
{{/each}}

